html, body {
	height: 100%;
	margin: 0;
}

body {
	background: #02027F;
	display: flex;
	align-items: center;
	justify-content: center;
}

canvas {
    border: 3px solid silver;
}

.menu {
    box-sizing: border-box;
    max-width: 250px;
    margin: 30px;
    padding: 20px;
    border: 3px solid silver;
    font-family: "Courier New", Courier, monospace;
    font-size: 24px;
    color: white;
    text-align: center;
}

.data {
    font-weight: bold;
}